body{
  background-image: url('img/shutterstock_297732950-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.cover{
  background-image: url('img/shutterstock_297732950-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.logo-img{
  width: 30%;
}

img{
  max-height: 129px;
}

div.secondary.callout.text-center{
  min-height: 242px;
}
